<header>
    <nav class="navbar border-bottom mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/vshop2.jpg" height="60" width="60" class="img-fluid" />
            </a>
        </div>
    </nav>
</header>