@model LoggedOutViewModel
<link rel="stylesheet" href="~/css/Loggout.css" asp-append-version="true" />

@{
    ViewData["signed-out"] = true;
}

<div class="logout-container">
    <div class="logout-card">

        <div class="logout-icon">
                ✓
        </div>

        <div class="logout-badge">
            ✓ Sessão encerrada com segurança
        </div>

        <h1>Você foi desconectado</h1>

        <p class="logout-message">
            Sua sessão foi finalizada. Obrigado por usar nosso serviço.
        </p>

        <hr />

        @if (Model.PostLogoutRedirectUri != null)
        {
            <p class="return-text">
                Para voltar ao aplicativo
                <strong>@Model.ClientName</strong>,
                clique abaixo:
            </p>

            <a href="@Model.PostLogoutRedirectUri" class="btn-return">
                Voltar para @Model.ClientName
            </a>
        }

        @if (Model.SignOutIframeUrl != null)
        {
            <iframe width="0"
                    height="0"
                    class="signout"
                    src="@Model.SignOutIframeUrl">
            </iframe>
        }
    </div>
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}